<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>

    <%- include('./partials/nav.ejs')  %>

    <div class="blogs content">
        <h2>All blogs</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos eius rem eum, ex totam magnam quaerat facilis in adipisci corporis distinctio blanditiis debitis? Nobis vitae consequuntur tempore vero cupiditate quas ducimus, dolor dolorem, itaque corrupti maiores nam voluptate, beatae delectus amet. Eaque cupiditate iste incidunt sed! Eveniet facere assumenda earum!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos eius rem eum, ex totam magnam quaerat facilis in adipisci corporis distinctio blanditiis debitis? Nobis vitae consequuntur tempore vero cupiditate quas ducimus, dolor dolorem, itaque corrupti maiores nam voluptate, beatae delectus amet. Eaque cupiditate iste incidunt sed! Eveniet facere assumenda earum!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos eius rem eum, ex totam magnam quaerat facilis in adipisci corporis distinctio blanditiis debitis? Nobis vitae consequuntur tempore vero cupiditate quas ducimus, dolor dolorem, itaque corrupti maiores nam voluptate, beatae delectus amet. Eaque cupiditate iste incidunt sed! Eveniet facere assumenda earum!</p>
    </div>

    <%- include('./partials/footer.ejs')  %>
</body>
</html>